<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table class="table table-striped mt-5">
  <thead>
    <tr>
      <th>Name</th>
      <th>Organizer(s)</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
          <td><%= link_to group.name, group_path(group.id) %></td>
          <% organizer = Role.organizer(group.id) %>
          <% if organizer.count > 0 %>
            <% organizer = User.find(organizer[0]["user_id"]) %></td>
            <td><%= organizer.last_name %>,<%= organizer.first_name %></td>
          <% else %>
            <td></td>
          <% end %>

        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
