<h1>Groups</h1>

<table class="table table-striped mt-5">
  <thead>
    <tr>
      <th>Name</th>
      <th>Organizer(s)</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
          <td><%= link_to group.name, group_path(group.id) %></td>
          <% organizer = group.roles.organizer(group.id) %>
          <% if organizer %><td>
            <% organizer.each do |r| %>
            <div><%= r.user.last_name %>,<%= r.user.first_name %></div>
            <% end %></td>
          <% else %>
            <td></td>
          <% end %>

        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<br/>
<h4>Import Groups</h4>
<%= form_tag import_groups_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import CSV" %>
<% end %>
