<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @group.name %>
</p>
<strong>Users:</strong>
<table class="table table-striped mt-5">
	<tbody>
	  <% @group.users.order("last_name DESC").each do |user| %>
		<tr>
	    <td><%= user.first_name %> <%= user.last_name %></td>
		<td>( <%= user.roles.where(group_id: @group.id, user_id: user.id)[0]["name"] %> )</td>
	</tr>
	  <% end %>
	</tbody>
</table>
<%= link_to 'Back', groups_path %>
