<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @group.name %>
</p>
Users:
<ul class="list-group">
  <% @group.users.order("last_name DESC").each do |user| %>
    <li class="list-group-item">
    	<div class="col">
    		<%= user.first_name %>, <%= user.last_name %> 
    	</div>
    	<div class="col">
    		( <%= 	user.roles.where(group_id: @group.id, user_id: user.id)[0]["name"] %> )
    	</div>
    </li>
  <% end %>
</ul>
<%= link_to 'Back', groups_path %>
